@font-face {
  font-family: Nexa-Light;
  src: url("../assets/fonts/Nexa-Light.otf");
}
@font-face {
  font-family: Nexa-Bold;
  src: url("../assets/fonts/Nexa-Bold.otf");
}
@font-face {
  font-family: unisans;
  src: url("../assets/fonts/uni-sans.heavy-caps.otf");
}
.f-unisans {
  font-family: "unisans", sans-serif !important;
}
/* html {
  scroll-behavior: smooth;
} */
.overflow-x {
  overflow-x: hidden;
}
body {
  font-family: "Nexa-Light", sans-serif !important;
  background-color: #070707;
  min-height: 100vh;
  color: #fff;
  overflow-x: hidden;
}
.bg-img {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.home-banner {
  min-height: 70vh;
  background: #070707;
}
.vh-70 {
  min-height: 70vh;
}
.vh-40 {
  min-height: 40vh;
}
.navbar-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
.about-image {
  min-height: 400px;
  width: 100%;
  background: transparent;
}
.about-text {
  border-radius: 4px;
  margin-left: -100%;
  background: #060c0c;
  height: 100%;
  margin-top: -7%;
}
.header-border {
  text-align: center;
  padding-bottom: 20px;
  background: linear-gradient(
      to left,
      rgba(90, 194, 198, 1) 50%,
      rgba(7, 239, 156, 1) 100%
    )
    left bottom #777 no-repeat;
  background-size: 100% 20px; /* if linear-gradient, we need to resize it */
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #438dd6 0%,
    #09e9ca 50%,
    #09e99e 90.84%
  );
}
.btn-grad {
  /* margin: 10px; */
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 150% auto;
  color: white;
  border: none !important;
  border-radius: 0;
  font-family: "unisans", sans-serif !important;
  font-size: 1.5rem;
  /* box-shadow: 0 0 20px #eee; */
  display: block;
}
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  /* text-decoration: none; */
}

.are-you {
  background-image: url("../assets/img/are-you-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  width: 100%;
  overflow: hidden;
}
.swiper-container {
  width: 100%;
  height: 70vh;
}

.swiper-home-banner-button-next {
  right: 0px !important;
  left: auto;
  width: 60px !important;
  height: 60px !important;
  background-color: rgba(0, 0, 0, 0.5);
}
.swiper-home-banner-button-next::after{
  content: 'next';
  font-size: 30px !important;
  padding: 10px !important;
  color: #fff !important;
}
.swiper-home-banner-button-prev {
  left: 0px !important; 
  right: auto;
  width: 60px !important;
  height: 60px !important;
  background-color: rgba(0, 0, 0, 0.5);
}
.swiper-home-banner-button-prev::after{
  content: 'next';
  font-size: 30px !important;
  padding: 10px !important;
  color: #fff !important;
}
